
/*
---------------------------------------------------------------------------
IMPORTS
---------------------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*
---------------------------------------------------------------------------
TODO
---------------------------------------------------------------------------
*/

*
{
    margin: 0 auto;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
}

/*
---------------------------------------------------------------------------
GENÉRICOS
---------------------------------------------------------------------------
*/

.no-editable{
    user-select: none; /* Chrome & Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror Html */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer & Microsoft Edge */
}

body{
    background: linear-gradient(135deg,#004494,#009036);
    background-repeat: no-repeat;
}

.content{
    max-width: 1800px;
}

header{
    width: 100%;
    padding: 1em;
    height: 10vh;
}

.logo-container{
    width: 20%;
    display: inline-block;
}

/*
---------------------------------------------------------------------------
BARRA DE NAVEGACIÓN
---------------------------------------------------------------------------
*/

nav{
    margin-top: 0.5em;
    float: right;
    width: 80%;
}

nav ul{
    overflow: auto;
    float: right;
    width: 80%;
}

nav ul li{
    overflow: auto;
    width: 25%;
    float: left;
    list-style: none;
    text-align: center;
}

nav ul li a{
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
    width: 100%;
}

nav ul li a:hover{
    font-family: 'Montserrat', sans-serif;
    display: block;
    border: 1px solid #e6ff8a;
    color: #e6ff8a;
    width: 100%;
    transition: 0.2s;
}

.main{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
}

/*
---------------------------------------------------------------------------
NOMBRE EUSKO TREN
---------------------------------------------------------------------------
*/

.nombre{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 3em;
    font-family: 'Montserrat', sans-serif;
}

.nombre b{
    color: rgba(255, 255, 255, 0.6);
    font-size: 10em;
}

/*
---------------------------------------------------------------------------
MENÚ DESPLEGABLE
---------------------------------------------------------------------------
*/

.desplegable{
    display: none;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: fixed;
    transition: 0.5s;
    z-index: 1;
    top: 0;
    right: 0;
}

.desplegable a{
    font-family: 'Montserrat', sans-serif;
    overflow:hidden;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.desplegable a:hover{
    color: white;
}
#first{
    margin-top: 80px;
}

/*
---------------------------------------------------------------------------
FOOTER
---------------------------------------------------------------------------
*/

footer{
    font-family: 'Roboto', sans-serif;
    background-color: #3c3c3c;
    color: white;
}

.footer-hover{
    transition: 0.3s;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: inherit;
}

.footer-hover:hover{
    border-bottom: 1px solid #e6ff8a;
    transition: 0.3s;
    text-decoration: none;
    color: inherit;
}

.rrss-container{
    position: relative;
    z-index: 0;
}

.rrss{
    transition: 0.3s;
    filter:opacity(0.4);
}

.rrss:hover{
    transition: 0.3s;
    filter:opacity(0.8);
}

footer div{
    width: 100%;
    text-align: center;
    padding: 1em;
}

/*
---------------------------------------------------------------------------
BOTON MENÚ
---------------------------------------------------------------------------
*/

.container {
    position: relative;
    z-index: 2;
    display: none;
    cursor: pointer;
}

/*
---------------------------------------------------------------------------
MEDIA QUERIES
---------------------------------------------------------------------------
*/

@media screen and (max-width: 992px) {

    .main{
        height: 100vh;
    }

    .desplegable{
        display: block;
    }
    
    header{
        position: fixed;
    }
    
    .nombre b{
        font-size: 6em;
    }
    
    nav{
        display: none;
    }

    .container {
        display: inline-block;
        float: right;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        z-index: 2;
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}

@media screen and (max-width: 480px) {

    .main{
        height: 100vh;
        width: 100%;
    }

    .desplegable{
        display: block;
    }
    
    header{
        position: fixed;
    }
    
    .nombre b{
        font-size: 3em;
    }
    
    nav{
        display: none;
    }

    .container {
        display: inline-block;
        float: right;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        z-index: 2;
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}

/*
----------------------------------------------------------------------------
INICIO SCROLLBAR
----------------------------------------------------------------------------
*/

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgb(184, 182, 182);
}

::-webkit-scrollbar-thumb:hover
{
    border-radius: 10px;
    background-color: gray;
}