*{
    border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(135deg,#009036 , #ffdc00);
    background-repeat: no-repeat;
}
h1{

    float: right;
    clear: both;
}
.header{
    min-height: 10vh;
}
.main{
    min-height: 90vh;
    display: flex;
    align-items: center;
    
}

.tranviaParada{
    margin:0 auto;
}
/*
----------------------------------------------------------------------------
INICIO PARADAS TRANVIA
----------------------------------------------------------------------------
*/

.animacion-tranvia{
    margin: 0 auto;
    min-height: 50vh;
    position: flex;
    align-items: center;
}

.paradas{
    cursor: pointer;
    height:1.6em;
    width:1.6em;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    margin:0 1em;
}

#tranvia{
    width: 10%;
    left:-11%;
    position:relative;
    /* animation-duration: 1s;
    animation-fill-mode: forwards;*/
   

    transition:  1s;
}

@keyframes paradas0{
    to{
        left:0%;
    }
}

@keyframes paradas1{
    to{
        left:11%;
    }
}

@keyframes paradas2{
    to{
        left:22%;
    }
}

@keyframes paradas3{
    to{
        left:33%;
    }
}

@keyframes paradas4{
    to{
        left:44%;
    }
}

@keyframes paradas5{
    to{
        left:55%;
    }
}

@keyframes paradas6{
    to{
        left:66%;
    }
}

@keyframes paradas7{
    to{
        left:77%;
    }
}

@keyframes paradas8{
    to{
        left:88%;
    }
}
/*
----------------------------------------------------------------------------
INICIO MEDIA QUERY
----------------------------------------------------------------------------
*/
@media (max-width:992px){}
@media (max-width:480px){}