<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>Euskotren | Inicio</title>
</head>
<body class="amarillo">
    <div class="content">
        <header  class="z-index-11">
            <div class="logo-container">
                <a href="../index.html">
                    <picture>
                        <source media="(max-width: 480px)" srcset="../img/logoEuskotrenPequenno.png">
                        <source media="(min-width: 480.01px)" srcset="../img/logoEuskotrenEntero.png">
                        <img src="./img/logoEuskotrenEntero.png" alt="logo">
                    </picture>
                </a>
            </div>
            <div class="container" id="menu-button" onclick="cambiar(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="desplegable">
                <a id="first" href="../index.html">INICIO</a>
                <a href="./tranvia.html">TIEMPO&nbsp;REAL</a>
                <a href="./estadisiticas.html">ESTAD&Iacute;STICAS</a>
                <a href="./informacion.html">INFORMACI&Oacute;N</a>
            </div>
            <nav>
                <ul>
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="./tranvia.html">TIEMPO REAL</a></li>
                    <li><a href="./estadisiticas.html">ESTAD&Iacute;STICAS</a></li>
                    <li><a href="./informacion.html">INFORMACI&Oacute;N</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="est__main__wrapper__header-space z-index-10">
        <hr>
    </div>
    <div class="est__main gris">
        <div class="est__main__wrapper content">
            <div class="est__main__content">
                <br>
                <div class="est__main__content__intro">
                    <div class="est__main__content__intro__left">
                        <h2>ESTADISTICAS</h2>
                        <p>Disponemos de una serie de gráficas que se actualizan en tiempo real para consultar los datos constantemente. De esta manera, podremos observar todos los datos registrados*  y analizarlos en pos de mejorar el servicio que ofrece EuskoTren.</p>
                        <br>
                        <p class="small-italic">*registrados: <br>Realmente no están registrados, debido a que no disponemos de una BBDD donde guardar registros, son datos que se generan aleatoriamente. <br>De hecho, se generan a una velocidad no natural con la intención de que se aprecie el resultado de las gráficas al cambiar dinámicamente con el flujo de datos en tiempo real.</p>
                        <br>
                    </div>
                    <div class="est__main__content__intro__right">
                        <div class="est__main__content__intro__animation__box">
                            <div class="animation-tranvia">
                                <!-- Entorno fondo -->
                                <div class="animation-tranvia__sun"></div>
                                <div class="animation-tranvia__mountain" style="--i:1;"></div>
                                <div class="animation-tranvia__mountain" style="--i:2;"></div>

                                <!-- Entorno suelo -->
                                <div class="animation-tranvia__suelo"></div>
                                <div class="animation-tranvia__suelo__via suelo-via-1"></div>
                                <div class="animation-tranvia__suelo__via suelo-via-1"></div>
                                <div class="animation-tranvia__suelo__via suelo-via-2"></div>
                                <div class="animation-tranvia__suelo__via suelo-via-2"></div>
                                
                                <!-- Entorno edificios (usando variable --i) -->
                                <div class="animation-tranvia__edificio pueblo-1" style="--i:1;"></div>
                                <div class="animation-tranvia__edificio pueblo-2" style="--i:2;"></div>
                                <div class="animation-tranvia__edificio pueblo-2" style="--i:5;"></div>
                                
                                <!-- Tranvía y Vías -->
                                <div class="animation-tranvia__vias sentido-contrario via-anim-1"></div>
                                <div class="animation-tranvia__vias sentido-contrario via-anim-2"></div>
                                <div class="animation-tranvia__vias sentido-principal via-anim-1"></div>
                                <div class="animation-tranvia__vias sentido-principal via-anim-2"></div>
                                <div class="animation-tranvia__tranvia sentido-contrario"></div>
                                <div class="animation-tranvia__tranvia sentido-principal"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="cool-hr-separator">
                <div class="est__main__content__graph-selector">
                    <div class="est__main__content__graph-selector__title">
                        <p>Selecciona el tipo de gráfica que quieres visualizar</p>
                    </div>
                    <div class="est__main__content__graph-selector-large">
                        <div id="graph-selector-buttons-wrapper" class="graph-selector-buttons-wrapper">
                            <div class="graph-selector-button">
                                <button id="graph-selector-button-1" value="1"><p><b>Datos generales</b></p><p>Todas las paradas</p><p>por mes y año</p></button>
                            </div>
                            <div class="graph-selector-button">
                                <button id="graph-selector-button-2" value="2"><p><b>Datos generales</b></p><p>Parada específica</p><p>por mes y año</p></button>
                            </div>
                            <div class="graph-selector-button">
                                <button id="graph-selector-button-3" value="3"><p><b>Número pasajeros</b></p><p>Todas las paradas</p><p>por mes y año</p></button>
                            </div>
                            <div class="graph-selector-button">
                                <button id="graph-selector-button-4" value="4"><p><b>Número pasajeros</b></p><p>Todas las paradas</p><p>por año</p></button>
                            </div>
                            <div class="graph-selector-button">
                                <button id="graph-selector-button-5" value="5"><p><b>Observar Datos</b></p><p>Ver llegada datos</p><p>en tiempo real</p></button>
                            </div>
                        </div>
                    </div>
                    <div class="est__main__content__graph-selector-mini">
                        <select name="graph-selector" id="graph-selector">
                            <option value="1" selected>Datos generales</option>
                            <option value="2">Número de pasajeros</option>
                            <option value="3">Observar entrada de datos</option>
                        </select>
                        <select name="graph-spec" id="graph-spec">

                        </select>
                    </div>
                    <!-- <div id="graph-selector-anyo-mes" class="est__main__content__graph-selector-anyo-mes">
                        <div class="selector-anyo-mes">
                            <select name="graph-selector-anyo" id="graph-selector-anyo" class="graph-selector-anyo">
                                
                            </select>
                            <select name="graph-selector-mes" id="graph-selector-mes" class="graph-selector-mes">
    
                            </select>
                        </div>
                    </div> -->
                    <div id="graph-selector-parada" class="est__main__content__graph-selector-spec-parada">
                        <button id="parada-prev" class="no-editable" onclick="anteriorParada()"><<</button>
                        <div class="parada no-editable">
                            <p>Selecciona la parada</p>
                            <p class="no-editable"  id="parada-title">Nombremes</p>
                        </div>
                        <button id="parada-next" class="no-editable" onclick="siguienteParada()">>></button>
                    </div>
                </div>
                <hr class="cool-hr-separator">
                <div class="est__main__content__graph">
                    <div class="est__main__content__graph__title">
                        <h2 id="graph-title">Titulo Grafica</h2>
                    </div>
                    <div class="est__main__content__graph__left">
                        <div class="graph-container">
                            <svg class="graph-chart">
                                
                            </svg>
                        </div>
                    </div>
                    <div class="est__main__content__graph__right">
                        <p id="graph-desc">Descripción gráfica</p>
                    </div>
                </div>
                <div class="est__main__content__end">
                    <br><br>    
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <hr>
        <div class="texto">
            <div class="copyright"><a class="footer-hover" target="blank" href="http://govindtiwari.blogspot.com/">Informaci&oacute;n legal y copyright &copy;</a></div>
            <div class="sobre-nosotros"><a class="footer-hover" target="blank" href="https://codefun973161967.wordpress.com/">Enlace a la pagina web de los desarrolladores</a></div>
        </div>
        <div class="rrss-container">
            <a target="blank" href="https://www.instagram.com/euskotren/"><img id="instagram" class="rrss" src="../img/instagram.png" alt="instagram"></a>
            <a target="blank" href="https://www.facebook.com/EuskotrenEJGV"><img id="facebook" class="rrss" src="../img/facebook.png" alt="facebook"></a>
            <a target="blank" href="https://twitter.com/euskotren"><img id="twitter" class="rrss" src="../img/twitter.png" alt="twitter"></a>
            <a target="blank" href="https://www.youtube.com/channel/UCHLmG5i2LeHqQ7wN4s11Ddg"><img id="youtube" class="rrss" src="../img/youtube.png" alt="twitter"></a>
        </div>
    </footer>
    
    <!-- Librerías -->
    <script src="../libs/d3.min.js"></script>
    <script src="../libs/jquery-3.6.0.min.js"></script>

    <!-- Código -->
    <script src="../app.js"></script>
    <script src="../main_estadisticas.js"></script>
</body>
</html>