<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../source/style.css">
    <title>Euskotren | Informaci&oacute;n</title>
</head>
<body class="rojo">
    <div class="content">
        <header>
            <div class="logo-container">
                <a href="../index.html">
                    <picture>
                        <source media="(max-width: 480px)" srcset="../img/logoEuskotrenPequenno.png">
                        <source media="(min-width: 480.01px)" srcset="../img/logoEuskotrenEntero.png">
                        <img src="../img/logoEuskotrenEntero.png" alt="logo">
                    </picture>
                </a>
            </div>
            <div class="container" id="menu-button" onclick="cambiar(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="desplegable">
                <a id="first" href="../index.html">INICIO</a>
                <a href="./tranvia.html">TIEMPO&nbsp;REAL</a>
                <a href="./estadisiticas.html">ESTAD&Iacute;STICAS</a>
                <a href="./informacion.html">INFORMACI&Oacute;N</a>
            </div>
            <nav>
                <ul>
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="./tranvia.html">TIEMPO REAL</a></li>
                    <li><a href="./estadisiticas.html">ESTAD&Iacute;STICAS</a></li>
                    <li><a href="./informacion.html">INFORMACI&Oacute;N</a></li>
                </ul>
            </nav>
        </header>

        <div class="main2">
            <div class="parada" id="1">
                <div class="container-img-parada">
                    <img src="../img/tranvia01.jpg" alt="parada1">
                </div>
                <div class="info-parada">
                    <h2>Primera Parada</h2>
                    Ibaiondo. <br>
                    Direcci&oacute;n: Landaberde Kalea, 4-10 01010 Vitoria-Gasteiz <br>
                    <a href="">Estad&iacute;sticas de esta parada</a>
                </div>
            </div>
            <div class="parada" id="2">
                <div class="container-img-parada">
                    <img src="../img/tranvia02.jpg" alt="parada2">
                </div>
                <div class="info-parada">
                    <h2>Segunda Parada</h2>
                    Landaberde. <br>
                    Direcci&oacute;n: Landaberde Kalea, 15-29 01010 Vitoria-Gasteiz <br>
                    <a href="">Estad&iacute;sticas de esta parada</a>
                </div>
            </div>
            <div class="parada" id="3">
                <div class="container-img-parada">
                    <img src="../img/tranvia03.jpg" alt="parada3">
                </div>
                <div class="info-parada">
                    <h2>Tercera Parada</h2>
                    Lakuabizkarra. <br>
                    Direcci&oacute;n: Wellingtongo Dukea Kalea, 27 01010 Vitoria-Gasteiz <br>
                    <a href="">Estad&iacute;sticas de esta parada</a>
                </div>
            </div>
            <div class="parada" id="4">
                <div class="container-img-parada">
                    <img src="../img/tranvia04.jpg" alt="parada4">
                </div>
                <div class="info-parada">
                    <h2>Cuarta Parada</h2>
                    Wellington. <br>
                    Direcci&oacute;n: Wellingtongo Dukea Kalea, 23 01010 Vitoria-Gasteiz <br>
                    <a href="">Estad&iacute;sticas de esta parada</a>
                </div>
            </div>
            <div class="parada" id="5">
                <div class="container-img-parada">
                    <img src="../img/tranvia05.jpg" alt="parada5">
                </div>
                <div class="info-parada">
                    <h2>Quinta Parada</h2>
                    Txagorritxu. <br>
                    Direcci&oacute;n: Ronda de Circunvalación, 2-20 01010 Vitoria-Gasteiz <br>
                    <a href="">Estad&iacute;sticas de esta parada</a>
                </div>
            </div>
            <div class="parada" id="6">
                <div class="container-img-parada">
                    <img src="../img/tranvia06.jpg" alt="parada6">
                </div>
                <div class="info-parada">
                    <h2>Sexta Parada</h2>
                    Euskal Herria. <br>
                    Direcci&oacute;n: Euskal Herria Bulebarra 01010 Vitoria-Gasteiz <br>
                    <a href="">Estad&iacute;sticas de esta parada</a>
                </div>
            </div>
            <div class="parada" id="7">
                <div class="container-img-parada">
                    <img src="../img/tranvia07.jpg" alt="parada7">
                </div>
                <div class="info-parada">
                    <h2>S&eacute;ptima Parada</h2>
                    Honduras. <br>
                    Direcci&oacute;n: Honduras Kalea, 5-7 01009 Vitoria-Gasteiz <br>
                    <a href="">Estad&iacute;sticas de esta parada</a>
                </div>
            </div>
            <div class="parada" id="8">
                <div class="container-img-parada">
                    <img src="../img/tranvia08.jpg" alt="parada8">
                </div>
                <div class="info-parada">
                    <h2>Octava Parada</h2>
                    Europa. <br>
                    Direcci&oacute;n: Gasteiz Hiribidea, 74 01012 Vitoria-Gasteiz <br>
                    <a href="">Estad&iacute;sticas de esta parada</a>
                </div>
            </div>
                <div class="parada" id="9">
                <div class="container-img-parada">
                    <img src="../img/tranvia09.jpg" alt="parada9">
                </div>
                <div class="info-parada">
                    <h2>Novena Parada</h2>
                    Sancho el Sabio. <br>
                    Direcci&oacute;n: Antso Jakitunaren Kalea 01008 Vitoria-Gasteiz <br>
                    <a href="">Estad&iacute;sticas de esta parada</a>
                </div>
            </div>
        </div>
        
    </div>
    
    <footer>
        <div class="texto">
            <div class="copyright"><a class="footer-hover" target="blank" href="http://govindtiwari.blogspot.com/">Informaci&oacute;n legal y copyright &copy;</a></div>
            <div class="sobre-nosotros"><a class="footer-hover" target="blank" href="https://codefun973161967.wordpress.com/">Enlace a la pagina web de los desarrolladores</a></div>
        </div>
        <div class="rrss-container">
            <a target="blank" href="https://www.instagram.com/euskotren/"><img id="instagram" class="rrss" src="../img/instagram.png" alt="instagram"></a>
            <a target="blank" href="https://www.facebook.com/EuskotrenEJGV"><img id="facebook" class="rrss" src="../img/facebook.png" alt="facebook"></a>
            <a target="blank" href="https://twitter.com/euskotren"><img id="twitter" class="rrss" src="../img/twitter.png" alt="twitter"></a>
            <a target="blank" href="https://www.youtube.com/channel/UCHLmG5i2LeHqQ7wN4s11Ddg"><img id="youtube" class="rrss" src="../img/youtube.png" alt="twitter"></a>
        </div>
    </footer>
    
    <script src="../source/app.js"></script>
</body>
</html>