
/*
---------------------------------------------------------------------------
IMPORTS
---------------------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*
---------------------------------------------------------------------------
TODO
---------------------------------------------------------------------------
*/

*
{
    margin: 0 auto;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
}

/*
---------------------------------------------------------------------------
GENÉRICOS
---------------------------------------------------------------------------
*/

.no-editable{
    user-select: none; /* Chrome & Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror Html */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer & Microsoft Edge */
}

body{
    background:linear-gradient(135deg,#009036 , #ffdc00);
    background-repeat: no-repeat;
}

.azul{
    background: linear-gradient(135deg,#004494,#009036);
}

.verde{
    background: linear-gradient(135deg,#58ab27,#ffdc00);
}

.content{
    max-width: 1800px;
}

header{
    width: 100%;
    padding: 1em;
    height: 10vh;
}

.logo-container{
    width: 20%;
    display: inline-block;
}

/*
---------------------------------------------------------------------------
BARRA DE NAVEGACIÓN
---------------------------------------------------------------------------
*/

nav{
    margin-top: 0.5em;
    float: right;
    width: 80%;
}

nav ul{
    overflow: auto;
    float: right;
    width: 80%;
}

nav ul li{
    overflow: auto;
    width: 25%;
    float: left;
    list-style: none;
    text-align: center;
}

nav ul li a{
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
    width: 100%;
}

nav ul li a:hover{
    font-family: 'Montserrat', sans-serif;
    display: block;
    border: 1px solid #fcdb8f;
    color: #fcdb8f;
    width: 100%;
    transition: 0.2s;
}

#main{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
}

/*
---------------------------------------------------------------------------
MENÚ DESPLEGABLE
---------------------------------------------------------------------------
*/

.desplegable{
    display: none;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: fixed;
    transition: 0.5s;
    z-index: 1;
    top: 0;
    right: 0;
}

.desplegable a{
    font-family: 'Montserrat', sans-serif;
    overflow:hidden;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.desplegable a:hover{
    color: white;
}
#first{
    margin-top: 80px;
}

/*
---------------------------------------------------------------------------
FOOTER
---------------------------------------------------------------------------
*/

footer{
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #3c3c3c;
    color: white;
}

.footer-hover{
    transition: 0.3s;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: inherit;
}

.footer-hover:hover{
    border-bottom: 1px solid #e6ff8a;
    transition: 0.3s;
    text-decoration: none;
    color: #e6ff8a;
}

.rrss-container{
    position: relative;
    z-index: 0;
}

.rrss{
    transition: 0.3s;
    filter:opacity(0.4);
}

.rrss:hover{
    transition: 0.3s;
    filter:opacity(0.8);
}

footer div{
    width: 100%;
    text-align: center;
    padding: 1em;
}

/*
---------------------------------------------------------------------------
BOTON MENÚ
---------------------------------------------------------------------------
*/

.container {
    position: relative;
    z-index: 2;
    display: none;
    cursor: pointer;
}


/*
----------------------------------------------------------------------------
INICIO SCROLLBAR
----------------------------------------------------------------------------
*/

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgb(184, 182, 182);
}

::-webkit-scrollbar-thumb:hover
{
    border-radius: 10px;
    background-color: gray;
}

/*
----------------------------------------------------------------------------
INICIO PARADAS TRANVIA
----------------------------------------------------------------------------
*/

.animacion-tranvia{
    width: max-content;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 25%;
    left: 50%;
    overflow:visible;
    align-items: center;
}

.paradas{
    cursor: pointer;
    transform: translate(-50%, 0%);
    position: relative;
    height: calc(100vw / 26);
    width:calc(100vw / 26);
    background-color: lightgray;
    border-radius: 51%;
    display:inline-block;
}

.paradas:hover{
    background-color: black;
}

#tranvia{
    width:15%;
    left:-13.1875%;
    position:relative;
    transform: translate(-50%,0%);
    transition: 1s;
}

.tranviaParada div:nth-child(1){
    left: 2%;
    top: 0%;
}

.tranviaParada div:nth-child(2){
    left: 4%;
    top: 0%;
}

.tranviaParada div:nth-child(3){
    left: 6%;
    top: 0%;
}

.tranviaParada div:nth-child(4){
    left: 8%;
    top: 0%;
}

.tranviaParada div:nth-child(5){
    left: 10%;
    top: 0%;
}

.tranviaParada div:nth-child(6){
    left: 12%;
    top: 0%;
}

.tranviaParada div:nth-child(7){
    left: 14%;
    top: 0%;
}

.tranviaParada div:nth-child(8){
    left: 16%;
    top: 0%;
}

.tranviaParada div:nth-child(9){
    left: 18%;
    top: 0%;
}


/*
--------------------------------------------------------------------------
INICIO MODAL BOX
--------------------------------------------------------------------------
*/

.modal{
    display:none;
    position:fixed;
    z-index:1;
    padding-top:100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color:rgba(0,0,0,0.4);
    margin:auto;
    padding:20px;
    border:1px solid #888;
    width:90%;
    height:9%;
}

.close{
    color:#aaa;
    float:right;
    padding-left:2%;
    font-size:28px;
    font-weight:bold;
}

.close:hover, .close:focus{
    color:black;
    text-decoration:none;
    cursor:pointer;
}

#milimetros{
    background-color:rgba(0,0,0,0);
    color:white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    float:left;
    position:relative;
    cursor: pointer;
    
}
#milimetros:hover{
    font-size:1.5em;
}

#directa{
    background-color:rgba(0,0,0,0);
    color:white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    float:right;
    position:relative;
    cursor: pointer;
}
#directa:hover{
    font-size:1.5em;
}

.introducirMilimetros{
    display:none;
    position: absolute;
    width: max-content;
    transform: translate(-50%,-50%);
    top: 75%;
    left: 50%;
    font-size:16px;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

#Bintrodcir{
    border-radius: 50%;
    text-decoration: none;
}

#cambiarModo{
    padding:1%;
    border-radius:51%;
    display:block;
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    margin:0;
}
#cambiarModo:hover{
   background-color: #888;
}

/*
----------------------------------------------------------------------------
INICIO MEDIA QUERY
----------------------------------------------------------------------------
*/

@media screen and (max-width: 992px) {

    #main{
        height: 100vh;
    }

    .desplegable{
        display: block;
    }
    
    header{
        position: fixed;
    }
    
    nav{
        display: none;
    }

    .container {
        display: block;
        float: right;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        z-index: 2;
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    #cambiarModo{
        margin:0 auto;
        display: block;
    }
   
    .introducirMilimetros{
       margin:0 auto;
       align-items: center;
    }
   
}

@media screen and (max-width:480px){
    #main{
        width: 100%;
        height:100vh;
    }
    .paradas{
        cursor: pointer;
        height: calc(100vw / 18);
        width:calc(100vw / 18);
        background-color: lightgray;
        border-radius: 50%;
        display:block;
        margin:1em auto;
    }

    .animacion-tranvia{
        top: 40%;
    }

    .tranviaParada div:nth-child(1){
        left: 0%;
        top: 2%;
    }
    
    .tranviaParada div:nth-child(2){
        left: 0%;
        top: 4%;
    }
    
    .tranviaParada div:nth-child(3){
        left: 0%;
        top: 6%;
    }
    
    .tranviaParada div:nth-child(4){
        left: 0%;
        top: 8%;
    }
    
    .tranviaParada div:nth-child(5){
        left: 0%;
        top: 10%;
    }
    
    .tranviaParada div:nth-child(6){
        left: 0%;
        top: 12%;
    }
    
    .tranviaParada div:nth-child(7){
        left: 0%;
        top: 14%;
    }
    
    .tranviaParada div:nth-child(8){
        left: 0%;
        top: 16%;
    }
    
    .tranviaParada div:nth-child(9){
        left: 0%;
        top: 18%;
    }

    #tranvia{
        transform: rotate(90deg) translate(-50%, 0%);
        width:200%;
        left:50%;
        top:-7.5%;
        padding-bottom:2em;
        position:absolute;
        transition:1s;
    }
    .modal{
        position:fixed;
        z-index:1;
        padding-top:100px;
        left:0;
        top:0;
        width:100%;
        height:100%;
        overflow:auto;
        background-color:rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
    
    .modal-content{
        background-color:rgba(0,0,0,0.4);
        margin:auto;
        padding:15%;
        border:1px solid #888;
        width:90%;
        display:block;
    }

    .modal-content p{
        display:block;
    }
    
    .close{
        color:#aaa;
        float:right;
        padding-left:2%;
        font-size:28px;
        font-weight:bold;
    }
    
    .close:hover, .close:focus{
        color:black;
        text-decoration:none;
        cursor:pointer;
    }
    
    #milimetros{
        background-color:rgba(0,0,0,0);
        color:white;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        position:absolute;
        top:20%;
        cursor: pointer;
        
    }
    #milimetros:hover{
        font-size:1.5em;
    }
    
    #directa{
        background-color:rgba(0,0,0,0);
        color:white;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        left:30%;
        padding-top:1%;
        position:absolute;
        cursor: pointer;
    }
    #directa:hover{
        font-size:1.5em;
    }

    #cambiarModo{
        position:absolute;
        left:50%;
        top:85%;
    }

    .introducirMilimetros{
        position:absolute;
        text-align: center;
        width:100%;
        top:75%;
        left:50%;
      
    }
}
